@import url(http://fonts.googleapis.com/css?family=Gabriela);


body {
	background-color: #a7a09a;
}

#okvir {
	width: 750px;
	margin: 0 auto;
	background-color: #99c;
}

#zaglavlje {
	font-family: Gabriela;
	font-size: 42px;
	color: green;
	background-color: #ddd;
	padding: 5px 15px 10px 10px;
}

#meni {
	background-color: #c99;
}

#glavni {
	width: 68%;
	float: left;
	background-color: #9c9;
}

#desno {
	width: 32%;
	float: right;
	background-color: #c9c;
	margin: 0% 0% 5% 0%;
	padding: 0% 0% 5% 0%;
}

#podnozje {
	padding: 5px 10px 5px 5px;
	clear: both;
	background-color: #cc9;
}

* {
	margin: 0;
}

#meni li {
	display: inline;
}

#meni ul {
	padding: 5px 10px 5px 5px;
}

h2 {
	margin: 10px 5px 20px 10px;
}

#glavni p {
	margin: 10px 5px 20px 10px;
}

#desno p {
	margin: 10px 5px 20px 10px;
}