h1 {
	color: red;
	font-size:45px;
	font-style: italic;
	font-family: sans-serif;
	position: absolute;
	right: 5px;
	top: 0px;
}

h2 {
	font-size:15px;
	font-style: italic;
	font-family: sans-serif;
	position: absolute;
	right: 5px;
	top: 50px;
}

.citat {
	color: black;
	background: #B9BCBF;
	font-size:18px;
	font-style: italic;
	font-family: sans-serif;
	position: absolute;
	left: 300px;
	top: 150px;
	right: 300px;
	box-sizing: border-box;    
	border: 3px solid black;
	margin: auto;
	text-align: justify;
}

.moja_lista {
	font-size:20px;
	font-family: sans-serif;
	position: absolute;
	left:30px;
	top: 340px;
}

ul {
	list-style-image: url(http://www.w3schools.com/cssref/sqpurple.gif);
}

#link_nazad {
	position: absolute;
	left: 40px;
	top: 40px;
	box-sizing: border-box;    
	border: 2px solid black;
	height: 30px;
	width: 100px;
	background-image: url(http://www.tizag.com/pics/cssT/listArrow.gif);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-top: 5px;
}

#link_nazad a {
	color: #ED4C44;
	font-family: sans-serif;
	font-weight: bold;
	text-decoration: none;
}

p:nth-of-type(2) {
	font-size:20px;
	font-family: Arial;
	position:absolute;
	top: 300px;
	left:10px;
}

p:nth-of-type(3) {
	font-size:20px;
	font-family: Arial;
	position: absolute;
	top: 480px;
	left:10px;
}
