<html>

<head>
    <title> Zadatak 2 </title>
    <link rel="stylesheet" href="/css/imenik.css">
</head>

<body>
    <h1>Tabela:</h1>
    <table>
        <td>ime</td>
        <td>prezime</td>
        <td>adresa</td>
        <td>broj_telefona</td>
        <% for(var i = 0; i < osobe.length; i++){ %>
            <tr>
                <td><%= osobe[i].ime; %></td>
                <td><%= osobe[i].prezime; %></td>
                <td><%= osobe[i].adresa; %></td>
                <td><%= osobe[i].broj_telefona; %></td>
            </tr>
        <% } %>
    </table>
</body>

</html>