table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: white;
    color: black;
    text-align: center;
    width:10%;
    height:10%;
}
tr:first-child td {
    background-color:grey;
    color:black;
}