<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript">
    var tabela = "<table><tr>"
    for(let i = 0; i <= 10; i++){
        tabela = tabela + "<tr>";
        for(let j = 0; j <= 10; j++){
            if(i == 0 && j == 0)
                tabela = tabela + "<th>X</th>";
            else if(j == 0)
                tabela = tabela + "<th>" + i + "</th>";     
            else if(i == 0)
                tabela = tabela + "<th>" + j + "</th>";
            else tabela = tabela + "<td>" + i*j + "</td>"; 
        }
        tabela = tabela + "</tr>";
    }

    document.write(tabela);
    </script>
</head>
</html>