table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: sans-serif;
    text-align: center;
}

th {
    font-weight: bold;
    padding: 5px;
    background-color: #CCCCCC;
}

tr:nth-of-type(2n) {
    background-color: #FFF2CC;
    font-weight: normal;
}

td {
    padding: 5px;
}
