.PrvaLista, .DrugaLista {
    display: none;
}

.prva, .druga {
    list-style: none;
}

.prva:before, .druga:before {
    content: "+";
    margin-right: 5px;
}

#prva_g.minus:before, #druga_g.minus:before {
    content: "-";
    margin-right:5px;
}

p {
    margin-left: 20px;
}

.DrugaLista, .PrvaLista {
    list-style:none;
}

li:before {
    content: "-";
    margin-right: 5px;
}

li {
    padding-bottom: 5px;
}